<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Foundation.CustomTaggerSettings" description="CustomTagger settings items">
                    <targetDataStore physicalRootPath="$(sourceFolderCustomTagger)\$(layer)\$(module)\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="$(layer).$(module).System.Modules" database="master" path="/sitecore/system/Modules/$(module)" />
                        <include name="$(layer).$(module).System.Validators.Fields" database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/$(module)" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>