<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <getLookupSourceItems>
                <processor patch:before="processor[1]" type="Sc.CustomTagger.Settings.Processors.ProcessDependentUponSource, Sc.CustomTagger.Settings" />
            </getLookupSourceItems>
        </pipelines>
        <services>
            <register serviceType="Sc.CustomTagger.Settings.Services.ICustomTaggerSettingService, Sc.CustomTagger.Settings"
                      implementationType="Sc.CustomTagger.Settings.Services.CustomTaggerSettingService, Sc.CustomTagger.Settings" />
        </services>
        
        <customTagger type="Sc.CustomTagger.Settings.Models.CustomTaggerSitesMappingsModel, Sc.CustomTagger.Settings">
            <!-- For multisite solution add here site to tagger mapping, this allows you to define different tags root items, or different tags template per site-->
            <sitesMappings hint="raw:AddCustomTaggerSitesMappings">
                <site name="website" settingsItemPath="/sitecore/system/Modules/CustomTaggerSettings"/>
            </sitesMappings>
        </customTagger>
    </sitecore>
</configuration>