<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <pipelines>
            <group name="ContentTagging" groupName="ContentTagging">
                <pipelines>
                    <tagContent>
                        <processor patch:instead="processor[contains(@type, 'StoreTags')]" type="Sc.CustomTagger.Pipelines.StoreTagsWithContentItem, Sc.CustomTagger" resolve="true" />
                    </tagContent>
                </pipelines>
            </group>
        </pipelines>
        <services>
            <register serviceType="Sc.CustomTagger.Services.ICustomizableTagCategoryService, Sc.CustomTagger"
                      implementationType="Sc.CustomTagger.Services.CustomizableTagCategoryService, Sc.CustomTagger" />
            <register serviceType="Sc.CustomTagger.Services.ICustomizableTagEntryService, Sc.CustomTagger"
                      implementationType="Sc.CustomTagger.Services.CustomizableTagEntryService, Sc.CustomTagger" />
        </services>
        
        <contentTagging>
            <providers>
                <tagger>
                    <add name="CustomizableTagger" type="Sc.CustomTagger.Providers.CustomizableTagger,Sc.CustomTagger" />
                </tagger>
                <content>
                    <add name="CustomizableContentProvider" type="Sc.CustomTagger.Providers.CustomizableContentProvider,Sc.CustomTagger" />
                </content>
                <taxonomy>
                    <add name="CustomizableTaxonomyProvider" type="Sc.CustomTagger.Providers.CustomizableTaxonomyProvider,Sc.CustomTagger" />
                </taxonomy>
            </providers>

            <configurations>
                <config name="Default">
                    <tagger>
                        <provider name="DefaultTagger">
                            <patch:attribute name="name">CustomizableTagger</patch:attribute>
                        </provider>
                    </tagger>
                    <content>
                        <provider name="DefaultContentProvider">
                            <patch:attribute name="name">CustomizableContentProvider</patch:attribute>
                        </provider>
                    </content>
                    <taxonomy>
                        <provider name="DefaultTaxonomyProvider">
                            <patch:attribute name="name">CustomizableTaxonomyProvider</patch:attribute>
                        </provider>
                    </taxonomy>
                </config>
            </configurations>
        </contentTagging>
    </sitecore>
</configuration>

