<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.SamplePageTags" description="Page with sample tags items">
                    <targetDataStore physicalRootPath="$(sourceFolderCustomTagger)\$(layer)\$(module)\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
                        <include name="Sample.HomeData" database="master" path="/sitecore/content/SampleTagsData" />
						<include name="Sample.HomePage" database="master" path="/sitecore/content/SampleTagsHome" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>